IF EXISTS(SELECT 1 FROM master.sys.databases WHERE name='SALESpRACTICE2')
BEGIN
    PRINT 'Database Exists'
END
ELSE
BEGIN
	CREATE DATABASE [SALESpRACTICE2]
	PRINT 'DATABASE' + ' - ' + 'SALESpRACTICE2' + ' - '+ 'CREATED'
END


CREATE TABLE [dbo].[CATEGORY](
	[CATEGORYID] [int] NOT NULL,
	[NAME] [varchar](100) NULL,
)
CREATE TABLE [dbo].[PRODUCTs](
	[PRODUCTID] [int] NOT NULL,
	[PRODUCTNAME] [varchar](100) NULL,
	[CATEGORY_ID] [int] NULL, --(FK)
	[PRICE] [int] NULL
)
CREATE TABLE [dbo].[SALES](
	[SALEID] [int] NOT NULL,
	[PRODUCT_ID] [int] NULL, --(FK)
	[QUANTITY] [int] NULL,
	[CUSTOMER_ID] [int] NULL, --(FK)
	[SALEDATE] [date] NULL,
	[AMOUNT] [decimal](20, 4) NULL
)
CREATE TABLE [dbo].[CUSTOMERS](
	[CUSTOMERID] [int] NOT NULL,
	[NAME] [varchar](100) NULL,
	[EMAIL] [varchar](100) NULL,
)
GO
INSERT [dbo].[CUSTOMERS] ([CUSTOMERID], [NAME],[EMAIL]) VALUES (1, N'JOHN','JOHN@GMAIL.COM')
INSERT [dbo].[CUSTOMERS] ([CUSTOMERID], [NAME],[EMAIL]) VALUES (2, N'BOB','BOB@GMAIL.COM')
INSERT [dbo].[CUSTOMERS] ([CUSTOMERID], [NAME],[EMAIL]) VALUES (3, N'ALICE','ALICE@GMAIL.COM')
GO
INSERT [dbo].[CATEGORY] ([CATEGORYID], [NAME]) VALUES (1, N'Electronics')
INSERT [dbo].[CATEGORY] ([CATEGORYID], [NAME]) VALUES (2, N'Accessories')
INSERT [dbo].[CATEGORY] ([CATEGORYID], [NAME]) VALUES (3, N'Furniture')
GO
INSERT [dbo].[PRODUCTs] ([PRODUCTID], [PRODUCTNAME], [CATEGORY_ID], [PRICE]) VALUES (1, N'Laptop', 1, 800)
INSERT [dbo].[PRODUCTs] ([PRODUCTID], [PRODUCTNAME], [CATEGORY_ID], [PRICE]) VALUES (2, N'Smartphone', 1, 600)
INSERT [dbo].[PRODUCTs] ([PRODUCTID], [PRODUCTNAME], [CATEGORY_ID], [PRICE]) VALUES (3, N'Headphones', 2, 50)
GO
INSERT [dbo].[SALES] ([SALEID], [PRODUCT_ID], [QUANTITY], [CUSTOMER_ID], [SALEDATE], [AMOUNT]) VALUES (1, 1, 2, 1, CAST(N'2024-07-01' AS Date), NULL)
INSERT [dbo].[SALES] ([SALEID], [PRODUCT_ID], [QUANTITY], [CUSTOMER_ID], [SALEDATE], [AMOUNT]) VALUES (2, 2, 1, 1, CAST(N'2024-07-02' AS Date), NULL)
INSERT [dbo].[SALES] ([SALEID], [PRODUCT_ID], [QUANTITY], [CUSTOMER_ID], [SALEDATE], [AMOUNT]) VALUES (3, 3, 5, 2, CAST(N'2024-07-03' AS Date), NULL)
GO


